add class using JS

.sunny {

}

.cloudy {

}

.rainy {

}

.snowy {

}

.extra-text {
    color: red;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}